<div id="header">
        	<a id="logo" href="#">Bopaboo</a>
            <div id="topnav">
            	<a href="#" target="_self"><img src="../images/cart-icon.gif" width="20" height="15" border="0" alt="my cart" />My Cart</a>
                <a href="#" target="_self"> My Account</a>
                <a href="#" target="_self"> Help</a> 
            </div>
            <div id="login">
            	Welcome Alex! &nbsp;&nbsp;[<a href="#" class="login"> Sign-Out</a>&nbsp;&nbsp;]
            </div>

                <form name="form1" action="" method="post" title="form1" id="searchbox"> 
                   <div id="listings">
                   	 <ul>
                    	<li class="top"><a href="#">all</a></li>
                        <li><a href="#">artists</a></li>
                        <li><a href="#">albums</a></li>
                        <li><a href="#">songs</a></li>
                        <li class="bottom"><a href="#">sellers</a></li>
                    </ul>
                   </div>
                <input name="t_name" type="text" id="t_name" />
                    <span class="spacing">
                    <input type="image" src="../images/go_btn.jpg" id="gobutton" />
                    </span>
                </form><a href="#" class="advsearch"><img src="../images/icon-arrow.png" alt="arrow" />&nbsp;&nbsp;Advanced Search</a>
				<div id="cls"></div>
                <ul id="menu">
                    <li id ="buytab"><a href="#">Home</a></li>
                    <li id="selltab"><a href="#">Buy</a></li>
                    <li id ="mybopatab"><a href="#">Sell</a></li>
                    <li id ="bopaboxtab"><a href="#" class="current">myBopa</a></li>
                </ul>
</div>