<div id="container">
    
    <div class="fleft splash">
      <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','575','height','332','src','../images/flash0001','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','../images/flash0001' ); //end AC code
</script>
      <noscript>
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="575" height="332">
        <param name="movie" value="../images/flash0001.swf" />
        <param name="quality" value="high" />
        <embed src="../images/flash0001.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="575" height="332"></embed>
      </object>
      </noscript>
    </div>
    <div class="fleft featured">
      <form id="form1" name="form1" method="post" action="">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="36%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="59%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h5>Email Address</h5></td>
            <td>&nbsp;</td>
            <td><label>
              <input type="text" name="email_fm" id="email_fm" />
            </label></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h5>Password</h5></td>
            <td>&nbsp;</td>
            <td><label>
              <input type="password" name="password_fm" id="password-fm" />
            </label></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><img src="../images/sign-in.png" width="116" height="29" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><a href="#">Forgot your Password?</a></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
            </form>
      </div>
    <div class="fleft facebook"></div>
      <div id="cls"></div>
<div id="flashslide">
          	<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','817','height','112','align','absmiddle','src','../images/flash-sliding','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','../images/flash-sliding' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="817" height="112" align="absmiddle">
        <param name="movie" value="../images/flash-sliding.swf" />
        <param name="quality" value="high" />
        <embed src="../images/flash-sliding.swf" width="817" height="112" align="absmiddle" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash"></embed>
      </object></noscript>          
          </div>
          
          <div id="cls"></div>
              <div id="newlogos"> 
            	 <a href="#"><img src="../images/godaddy-logo.gif" width="70" height="35" border="0" /></a>
                  <a href="#"><img src="../images/truste-logo.gif" width="110" height="30" border="0" /></a>
               </div>
          </div>