<div id="container">	
            
        <div id="pagehead">
        	<h1>Recover Password</h1>
        </div>
        <div id="forgot_password">
        	<form action="" method="post" name="forgotpassword">
            	<label for="emailaddress">Email Address<input name="emailaddress" type="text" id="emailaddress" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="image" id="sendbtn" src="../images/btn-send_forgetpassword.png" align="bottom" />
           	  </label>
                <label class="errormsg">Echo Message</label>
                <label class="errormsg"><a href="#" id="signup">Not a bopaboo Member?</a> </label>
                <label class="errormsg">Echo Message</label>
            </form>
        </div>
  </div>
      
      
      <div id="cls"></div>