<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rounded Corner Test</title>

<style type="text/css">
 .t {background: url(../images/dot.gif) 0 0 repeat-x; width: 90%}
.b {background: url(../images/dot.gif) 0 100% repeat-x}
.l {background: url(../images/dot.gif) 0 0 repeat-y}
.r {background: url(../images/dot.gif) 100% 0 repeat-y}
.bl {background: url(../images/bl2.gif) 0 100% no-repeat}
.br {background: url(../images/br2.gif) 100% 100% no-repeat}
.tl {background: url(../images/tl2.gif) 0 0 no-repeat}
.tr {background: url(../images/tr2.gif) 100% 0 no-repeat; padding:10px}
</style>

</head>

<body>

 <div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">
Lorem ipsum dolor sit amet consectetur adipisicing elit
</div></div></div></div></div></div></div></div>
</body>
</html>
