<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<link href="../styles/bopabox.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../styles/bopabox-ie7.css" />
<![endif]-->
<!--[if lt IE 7.]>
<script defer type="text/javascript" src="../scripts/pngfix.js"></script>
<![endif]-->
</head>

<body>
	
<div id="wrapper">
    	<div id="header">
        	<a id="logo" href="#">Bopaboo</a>
            <div id="topnav">
            	<a href="#" target="_self"><img src="../images/cart-icon.gif" width="20" height="15" border="0" alt="my cart" />My Cart</a>
                <a href="#" target="_self"> My Account</a>
                <a href="#" target="_self"> Help</a> 
            </div>
            <div id="login">
            	Welcome Alex! &nbsp;&nbsp;[<a href="#" class="login"> Sign-Out</a>&nbsp;&nbsp;]
            </div>

                <form name="form1" action="" method="post" title="form1" id="searchbox"> 
                   <div id="listings">
                   	 <ul>
                    	<li class="top"><a href="#">all</a></li>
                        <li><a href="#">artists</a></li>
                        <li><a href="#">albums</a></li>
                        <li><a href="#">songs</a></li>
                        <li class="bottom"><a href="#">sellers</a></li>
                    </ul>
                   </div>
                <input name="t_name" type="text" id="t_name" />
                    <span class="spacing">
                    <input type="image" src="../images/go_btn.jpg" id="gobutton" />
                    </span>
                </form> <a href="#" class="advsearch"><img src="../images/icon-arrow.png" alt="arrow" />&nbsp;&nbsp;Advanced Search</a>
				<div id="cls"></div>
               
                <ul id="menu">
                    <li id ="buytab"><a href="#" class="current">Home</a></li>
                    <li id="selltab"><a href="#">Buy</a></li>
                    <li id ="mybopatab"><a href="#">Sell</a></li>
                    <li id ="bopaboxtab"><a href="#">myBopa</a></li>
                </ul>
      </div>
      
      
      <div id="container">
        <ul id="breadcrumb-links">
          <li><a href="#">Home</a></li>
          <li><img src="../images/arrow-breadcrumb.gif" alt="breadcrumb" />&nbsp;&nbsp;<a href="#">Buy</a></li>
          <li><img src="../images/arrow-breadcrumb.gif" alt="breadcrumb" />&nbsp;&nbsp;Viewcart</li>
        </ul>
        
        <!-- <div id="ad">
          /* Begin: AdBrite */
          <script type="text/javascript">
				var AdBrite_Title_Color = '0000FF';
				var AdBrite_Text_Color = '000000';
				var AdBrite_Background_Color = 'FFFFFF';
				var AdBrite_Border_Color = 'CCCCCC';
				var AdBrite_URL_Color = '008000';
            </script>
          <span style="white-space:nowrap;">
          <script src="http://ads.adbrite.com/mb/text_group.php?sid=597989&amp;zs=3732385f3930" type="text/javascript"></script>
          
          <a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=597989&amp;afsid=1"> <img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-leaderboard.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="14" height="90" border="0" /> </a> </span>
          /* End: AdBrite */
        </div> -->
  <div id="ViewCartpagehead">
        	<h1>Shopping Cart</h1>
        	<img src="../images/btn-viewcart.png" alt="View Cart" width="39" height="44" border="0" class="viewcart" /> 
        	<h2><a href="#">View Cart</a> </h2>      
       	<img src="../images/icon-arrow-viewcart.png" alt="Next" width="57" height="12" class="arrow" /><h2><a href="#">Payment</a></h2>
       	<img src="../images/icon-arrow-viewcart.png" alt="Next" width="57" height="12" class="arrow" /><h2><a href="#">Place Orders</a></h2>
      </div>
      	<div id="viewcart">
            <table border="0" cellpadding="0" cellspacing="0" id="viewcart_tbl">
				<tr>
                    <td class="hdr">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" id="checkoutbox">
                <tr>
                  <td class="smallcol-right-box-top-img">&nbsp;</td>
                </tr>
                <tr>
                  <td class="smallcol-right-box-top-img-body">&nbsp;</td>
                </tr>
                <tr>
                  <td class="smallcol-right-box-bottom-img">&nbsp;</td>
                </tr>
            </table>

            
        </div>
      </div>
      <div id="cls"></div>
      <div id="footer"></div>
      <div id="footerlinks"><div id="leftlinks"><a href="#">About us</a> | <a href="#">How it works</a> | <a href="#">Blog</a> | <a href="#">Help</a></div>
      <div id="rightlinks"><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Site Map</a></div>
      <div id="copyrightinfo">Copyright © 2008 bopaboo, LLC. All rights reserved. </div>
      </div>
</div>
	
</body>
</html>
