<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
<!--[if IE]>

	<style type="text/css">
		@import "../styles/ie.css";
    </style>
    
<![endif]-->

<!--[if lt IE 7.]>
<script defer type="text/javascript" src="../scripts/pngfix.js"></script>
<![endif]-->



</head>
<body>
<div id="wrapper">
<div id="header">
    	<a href="index.html" id="logo">bopaboo – Your Place to Buy and Sell Digital Music</a>
    	<ul id="accountMenu">
        	<li>welcome Alex!</li> 
            <li><a href="shoppingCart.html" class="cart">my cart</a></li>
            <li><a href="messageInbox.html" class="mail">(0)</a></li>
            <li><a href="feedbackProvided.html" class="favourite">(4)</a></li>
            <li><a href="myAccount.html">account</a></li>
            <li><a href="helpFAQ.html">help</a></li>
            <li class="rightEnd"><a href="index.html">logout</a></li></ul>
      <div id="menu">
          <ul id="topNav">
            <li class="navHome"><a href="homeLoggedIn.html" >home</a></li>
            <li class="navBuy"><a href="shoppingCart.html">buy</a></li>
            <li class="navSell"><a href="sellLoggedIn.html">sell</a></li>
            <li class="navBopabox" ><a href="bopaBox.html" class="currentsel">bopaBox</a></li>
            <li class="navBopabank"><a href="accountActivity.html">bopaBank</a></li>
            <li class="navUpload"><a href="#"><span>upload</span></a></li>
          </ul>
         <div id="topSearch">
            <form action="#">
                <input type="text" value="search all music" />
            </form>
        </div>
  </div>
  </div>
  <!-- header ends-->
  <div id="container">
  
      <div class="roundedTab" id="bopaBigBox">
        <div class="t">
          <div class="tab"><h3 class="wide">all</h3></div>
          <div class="tabOff"><h3 class="wide"><a href="#">uploads</a></h3>
          </div><div class="tabOff"><h3 class="wide"><a href="#">purchases</a></h3>
          </div><div class="tabOff"><h3 class="wide"><a href="#">for sale</a></h3>
          </div><div class="loading"> <img src="../images/o2.gif" alt="loading" width="16" height="16" /> </div>     
          <div class="tr"></div>
        </div>
      </div>
      <div id="bopasearchbox"> <!-- begin bopasearchbox -->
      <div class="roundedTab" id="bopaBigBox">
        <div class="c"> <div class="cl">
          <!--add content-->
<form action="#">
			<div class="songNo">1 - 20 of 41 records</div>
            <div class="bopaBoxSearch">                
                    <input type="text" class="bopaBoxSearchInput" value="search your bopaBox" />                
          </div>
            <div class="clsTable"></div>
          <table width="980" class="tableGeneral" id="bopaBoxTable">
<thead>
                  <tr valign="middle" class="tableHead">
                    <th width="33" valign="bottom" class="cehckboxCell" id="first"><input type="checkbox" /></th>
                    <th width="261" class="artist highlightCol"><a href="#">artist</a></th>
                    <th width="261" class="song"><a href="#">song</a></th>
                    <th width="261" class="album"><a href="#">album</a></th>
                    <th width="81" class="onSale"><a href="#">on sale</a></th>
                    <th width="81" class="actions fin"><a href="#">actions</a></th>
                </tr>
            </thead>
             <tbody>
                <tr valign="middle">
               	  <td align="center" valign="middle"><input type="checkbox" /></td>
                  <td valign="bottom" class="indent">Fred Astaire</td>
                  <td valign="bottom" class="indent">Universal Legends</td>
                  <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                  <td align="center" valign="bottom"><a href="#"><img src="../images/iconTag.png" alt="for sale" width="23" height="21" /></a></td>
                  <td align="center"><img src="../images/iconInactiveSell.png" alt="inactive" width="18" height="18" /> <img src="../images/iconInactiveDownload.png" alt="inactive"  /> <img src="../images/iconInactiveDelete.png" alt="inactive"  /></td>
               </tr>
                 <tr>
               	   <td align="center" valign="middle"><input type="checkbox" /></td>
                    <td valign="bottom" class="indent">Fred Astaire</td>
                   <td valign="bottom" class="indent">Universal Legends</td>
                   <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                   <td align="center" valign="bottom"><a href="#"><img src="../images/iconTag.png" alt="for sale" width="23" height="21" /></a></td>
                   <td align="center"><img src="../images/iconInactiveSell.png" alt="inactive" width="18" height="18" /><img src="../images/iconInactiveDownload.png" alt="inactive" width="18" height="18"  /> <img src="../images/iconInactiveDelete.png" alt="inactive"  /></td>
               </tr>
                <tr>
               	  <td align="center" valign="middle"><input type="checkbox" /></td>
                    <td valign="bottom" class="indent">Fred Astaire</td>
                  <td valign="bottom" class="indent">Universal Legends</td>
                  <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                  <td align="center" valign="bottom"><a href="#"><img src="../images/iconTag.png" alt="for sale" width="23" height="21" /></a></td>
                  <td align="center"><img src="../images/iconInactiveSell.png" alt="inactive" width="18" height="18" /> <img src="../images/iconInactiveDownload.png" alt="inactive"  /> <img src="../images/iconInactiveDelete.png" alt="inactive"  /></td>
               </tr>
                <tr>
               	  <td align="center" valign="middle"><input type="checkbox" /></td>
                    <td valign="bottom" class="indent">Fred Astaire</td>
                  <td valign="bottom" class="indent">Universal Legends</td>
                  <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                  <td align="center" valign="bottom"><a href="#"><img src="../images/iconTag.png" alt="for sale" width="23" height="21" /></a></td>
                  <td align="center"><img src="../images/iconInactiveSell.png" alt="inactive" width="18" height="18" /> <img src="../images/iconInactiveDownload.png" alt="inactive"  /> <img src="../images/iconInactiveDelete.png" alt="inactive"  /></td>
               </tr>
                <tr>
               	  <td align="center" valign="middle"><input type="checkbox" /></td>
                    <td valign="bottom" class="indent">Fred Astaire</td>
                  <td valign="bottom" class="indent">Universal Legends</td>
                  <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                  <td align="center" valign="bottom"><a href="#"><img src="../images/iconTag.png" alt="for sale" width="23" height="21" /></a></td>
                  <td align="center"><img src="../images/iconInactiveSell.png" alt="inactive" width="18" height="18" /> <img src="../images/iconInactiveDownload.png" alt="inactive"  /> <img src="../images/iconInactiveDelete.png" alt="inactive"  /></td>
               </tr>
                <tr>
               	  <td align="center" valign="middle"><input type="checkbox" checked="checked" /></td>
                    <td valign="bottom" class="indent">Fred Astaire</td>
                  <td valign="bottom" class="indent">Universal Legends</td>
                  <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                  <td align="center" valign="bottom">&nbsp;</td>
                    <td align="center" valign="bottom"><a href="#"><img src="../images/iconSell.png" alt="post this track for sale" width="18" height="18" border="0"  /></a> <a href="#"><img src="../images/iconDownload.png" alt="download this track" width="18" height="18" border="0"  /></a> <a href="#"><img src="../images/iconDelete.png" alt="delete this track" width="18" height="18" border="0"  /></a></td>
               </tr>
               <tr class="fin">
               	  <td align="center" valign="middle" ><input type="checkbox" checked="checked" /></td>
                    <td valign="bottom" class="indent">Fred Astaire</td>
                  <td valign="bottom" class="indent">Universal Legends</td>
                  <td valign="bottom" class="indent">Putting on the Ritz</td>                    
                  <td align="center" valign="bottom">&nbsp;</td>
                    <td align="center" valign="bottom"><a href="#"><img src="../images/iconSell.png" alt="post this track for sale" width="18" height="18" border="0"  /></a> <a href="#"><img src="../images/iconDownload.png" alt="download this track" width="18" height="18" border="0"  /></a> <a href="#"><img src="../images/iconDelete.png" alt="delete this track" width="18" height="18" border="0"  /></a></td>
               </tr>
             </tbody>
          </table>
        </form>
        
          <!--finish content-->
          </div> </div>
        <div class="b"><span class="br"></span></div>
      </div> <!-- bopaBigBox ends -->
      
    	
      
      <div class="cls"></div>
            
      <div id="pages" align="center"><a href="#" class="currentsel">Previous</a> <a href="#" class="currentselno">1</a>  <a href="#">2</a>  <a href="#">3</a>  <a href="#">4</a>  <a href="#">5</a>  <a href="#">6</a>  <a href="#">7</a> <a href="#">8</a>  <a href="#">9</a> <a href="#">10</a> ...<a href="#">199</a> <a href="#">Next</a></div>
      
      </div>
    
  </div>
  <!-- container ends -->
</div>
<!-- wrapper ends -->
<div id="footer">
	
    <ul id="box001">
        <li><h3>Get your bopaboo on!</h3></li>
        <li>let's start buying!</li>
        <li> let's start selling!</li>
        <li>let's invite your friends!</li>
  </ul>
        
<ul id="box002">
        <li><h4>Business &amp; Media </h4></li>
        <li><a href="#" rel="facebox">Press Releases</a></li>
        <li><a href="#">In the News</a></li>
        <li><a href="#" target="_blank">Advertising Opportunities</a></li>
        <li><a href="#" target="_blank">Partnership Opportunities</a></li>
  </ul>
        
<ul id="box003">
        <li><h4>Company </h4></li>
        <li><a href="#" rel="facebox">About Us</a></li>
        <li><a href="#">Management</a></li>
        <li><a href="#" target="_blank">Blog</a></li>
        <li><a href="#" target="_blank"><strong>We're Hiring!</strong></a></li>
        <li><a href="#" target="_blank">Contact Us</a></li>
    </ul>
        
    <ul id="box004">
        <li><h4>Legal Info </h4></li>
        <li><a href="privacyPolicy.html" rel="facebox">Privacy Policy</a></li>
        <li><a href="termsOfServices.html">Terms of Use</a></li>
        <li><a href="#" target="_blank">site map</a></li>
  </ul>
	
<ul id="box005">
        <li><h4>Account </h4></li>
        <li><a href="#" rel="facebox">FAQ</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#" target="_blank">bopaBank</a></li>
        <li><a href="#" target="_blank">Messages</a></li>
        <li><a href="#" target="_blank">Feedback</a></li>
    </ul>
    
  <div id="footerBottom"><span>bopaboo, LLC.</span> &copy; Copyright  2008 All rights reserved.</div>
</div>

</body>
</html>
