<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
</head>
<body>

<div id="popContainer">
    <div class="rounded" id="songStatus">
        <div class="t">
          
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
				<div class="pad">                  

                    <h1>confirm you want to delete the selected song?</h1>
                    <a href="#"><img src="../images/closePopUpSmall.png" alt="close" width="19" height="19" border="0" class="closenow" /></a>
                    
                    <div class="cls"></div>
                    
                      <form>                
                       <p>Are you sure you want to permanently delete this song from your bopaBox?</span></p>
                <div class="bottom" style="margin-top:20px;">
                	<input type="image" src="../images/buttonOK.png"/>
                    <input type="image" src="../images/buttonCancel.gif"/>
                    
                </div>
                  </form>
                </div>
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->     
</div>

</body>
</html>
