<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
<!--[if IE]>
	<style type="text/css">
		@import "../styles/ie.css";
    </style>
<![endif]-->

<!--[if lt IE 7.]>
<script defer type="text/javascript" src="../scripts/pngfix.js"></script>
<![endif]-->

</head>
<body id="emailBG">
<div id="wrapperEmail">
	<div id="emailHeader"></div>
  <div id="emailContainer">
  
      <div id="emailConfirmationlaside">
      	<div class="roundedTab" id="emailConfirmation">
        <div class="t">
          <div class="tr"></div>
        </div>
        <div class="c"> <div class="cl">
          <!--add content-->
			<div class="emailConfirmation">
							<p>Dear Alex,
							<p>Thank you for shopping with bopaboo.  We are pleased to inform you that your purchase is finalized and the items listed below have been transferred to your bopaBox.  You may now login at anytime to download your new music, <a href="http://www.bopaboo.com/login.php"><b>http://www.bopaboo.com/login.php</b></a>.</p>
							<p>This is an electronic receipt of your order.  You may wish to print this page for your records.</p>
							<p>Your order number is: <b>DDMMYY344338791</b>.</p>
        
          <!--finish content-->
          </div> </div>
        <div class="b"><span class="br"></span></div>
      </div> <!-- addnewCard ends -->
      <div class="cls"></div>
      </div>
      <!-- end laside720 -->
      
      <div id="emailConfirmationlaside">
      	<div class="roundedTab" id="emailConfirmation">
        <div class="t">
          <div class="tab"><h3 class="wide"><a href="#">order summary</a></h3></div>
          <div class="tr"></div>
        </div>
        <div class="c"> <div class="cl">
          <!--add content-->
			<div class="emailConfirmation">
							<p>
							<br>Seller: Alex
							<br>Item: You'll Always be my Baby, David Cook, David Cook
							<br>Price: $10.00
							<p>
							<hr />
							<div style="clear:both;"></div>
							<br>Seller: Alex
							<br>Item: You'll Always be my Baby, David Cook, David Cook
							<br>Price: $10.00
							<p>
							<hr />
							<div style="clear:both;"></div>
							<br><b>Total Order: $20.00</b>
        
          <!--finish content-->
          </div> </div>
        <div class="b"><span class="br"></span></div>
      </div> <!-- addnewCard ends -->
      <div class="cls"></div>
      </div>
      <!-- end laside720 -->
      
      <div id="emailConfirmationlaside">
      	<div class="roundedTab" id="emailConfirmation">
        <div class="t">
          <div class="tr"></div>
        </div>
        <div class="c"> <div class="cl">
          <!--add content-->
			<div class="emailConfirmation">
							<p>Thank you for choosing bopaboo! We work hard to be the preferred online store for all of your digital music needs.  We hope you'll come back again soon!
							<p>Please login to <a href="http://www.bopaboo.com/">www.bopaboo.com</a> and submit feedback on the Sellers.  Please refer to your order number <b>DDMMYY344338791</b>.
							<p><h1>Thank you again for shopping at bopaboo - Please visit us again soon!</h1></p>
        
          <!--finish content-->
          </div> </div>
        <div class="b"><span class="br"></span></div>
      </div> <!-- addnewCard ends -->
      <div class="cls"></div>
      </div>
      <!-- end laside720 -->
    
  </div>
  <!-- container ends -->
</div>
<!-- wrapper ends -->
<div id="footerEmail">
	<div style="margin-top:35px;">You received this email because you have chosen to receive notifications from bopaboo.</div>
	<div style="margin-top:15px;">To manage your email settings, visit <a href="http://www.bopaboo.com/emailsettings">http://www.bopaboo.com/emailsettings</a>.</div>
  <div id="footerBottom"><span>bopaboo, LLC.</span> &copy; Copyright  2008 All rights reserved.</div>
</div>
<!-- footer ends -->

</body>
</html>
