<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>



</head>
<body>

<div id="popContainer">
    <div class="rounded" id="importContact">
        <div class="t">
          
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
				<div class="pad outlook">                  
					
                    <a href="#"><img src="../images/closePopUpSmall.png" alt="close" width="19" height="19" border="0" class="closenow"/></a>
                  <h1>import email addresses</h1>                    
                    
                    <div class="cls"></div>
                    
                   
                  <form>
                    	<div class="formRow">
                            <label>file type</label>
                            <select>
                            	<option>Outlook Express (csv)</option>
                            </select>
                        </div>
                        <div class="formRow">
                            <label>select file</label>
                            <input class="inputBox"/>
                          <input type="submit" value="browse" class="browse" />
                        </div>
                    <div class="buttonRow">
                    	<span class="btSignIn"><a href="#" style="display:block;margin-left:120px;"></a></span>
                      <a href="#" class="forgotPass">hide detailed instructions
</a>
                    </div>
                        
                    </form>
                    
                    <div>
                    
                    <p>First, export information from your Outlook Express:</p>
                    
                    <ol id="olOutlook" >
                    	<li>Open Outlook Express.</li>

                        <li>Select "Export from the "File"  menu.</li>
                        
                        <li>From the "Export" menu, select "Address Book."</li>
                        
                        <li>Select the file type "Text File (Comma Separated values)."</li>
                        
                        <li>Click the "Export" button.</li>
                        
                        <li>Enter a name for the file and a location where it will be saved. Then click "Next."</li>
                        
                        <li>Check which fields you wish to export. (We recommended checking all boxes).</li>
                        
                        <li>Click "Finish" to export the data to the Comma Separated Values (.CSV) file at the location you specified.</li>
                  </ol>
                    
                    <p><a href="#">show notice for international users</a></p>
                    
                    <p>We can only import files in English or a Western European language. If you haev contact information encoded in non-Western characters (eg. Chinese, Japanese etc) then you must make sure your file is encoded in the UTF-8 format before uploading.</p>
                    
                    </div>
                    
                <div class="popUpFooter">
                      <h6>switch accounts:</h6>
                      <ul>
                        <li><a href="importContactPopUpGMAIL.html">Gmail</a> |</li>
                        <li><a href="importContactPopUpYAHOO.html">Yahoo</a> | </li>
                        <li><a href="importContactPopUpHOTMAIL.html">Hotmail</a> | </li>
                        <li><a href="importContactPopUpAOL.html">AOL</a> | </li>
                        <li><a href="importContactPopUpOUTLOOK.html">Outlook</a> </li>
                      </ul>
                    </div>
				</div>
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->     
</div>

</body>
</html>
