<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
</head>
<body>

<div id="popContainer">
    <div class="rounded" id="importContact">
        <div class="t">
          
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
				<div class="pad">                  
					
                    <a href="#"><img src="../images/closePopUpSmall.png" alt="close" width="19" height="19" border="0" class="closenow"/></a>
                  <h1>import email addresses</h1>                    
                    
                    <div class="cls"></div>
                    
                    <img src="../images/aolImport.png" />		
                    
                  <form>
                    	<div class="formRow">
                            <label>user name</label>
                            <input class="inputBox" />
                        </div>
                        <div class="formRow">
                            <label>password</label>
                            <input class="inputBox" type="password" />
                        </div>
                    <div class="buttonRow">
                    	<!--<input type="image" src="../images/btnSignIn.jpg" />-->
                    	<span class="btSignIn"><a href="#" style="display:block;margin-left:35px;"></a></span>
                      <a href="#" class="forgotPass">forgot your password?</a>
                    </div>
                        
                    </form>
                    
                    <p>We will not store your login. It will only be temporarily used to access your AOL address book.</p>
                    
                    <div class="popUpFooter">
                      <h6>switch accounts:</h6>
                      <ul>
                        <li><a href="importContactPopUpGMAIL.html">Gmail</a> |</li>
                        <li><a href="importContactPopUpYAHOO.html">Yahoo</a> | </li>
                        <li><a href="importContactPopUpHOTMAIL.html">Hotmail</a> | </li>
                        <li><a href="importContactPopUpAOL.html">AOL</a> | </li>
                        <li><a href="importContactPopUpOUTLOOK.html">Outlook</a> </li>
                      </ul>
                    </div>
				</div>
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->     
</div>

</body>
</html>
