<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
<!--[if IE]>

	<style type="text/css">
		@import "../styles/ie.css";
    </style>
    
<![endif]-->



<!--[if lt IE 7.]>
<script defer type="text/javascript" src="../scripts/pngfix.js"></script>
<![endif]-->

</head>
<body>
<div id="wrapper">
<div id="header">
    	<a href="index.html" id="logo">bopaboo – Your Place to Buy and Sell Digital Music</a>
    	<ul id="accountMenu">
        	<li>welcome Alex!</li> 
            <li><a href="shoppingCart.html" class="cart">my cart</a></li>
            <li><a href="messageInbox.html" class="mail">(0)</a></li>
            <li><a href="feedbackProvided.html" class="favourite">(4)</a></li>
            <li><a href="myAccount.html">account</a></li>
            <li><a href="helpFAQ.html">help</a></li>
            <li class="rightEnd"><a href="index.html">logout</a></li></ul>
      <div id="menu">
          <ul id="topNav">
            <li class="navHome"><a href="homeLoggedIn.html" >home</a></li>
            <li class="navBuy"><a href="shoppingCart.html">buy</a></li>
            <li class="navSell"><a href="sellLoggedIn.html" class="currentsel">sell</a></li>
            <li class="navBopabox" ><a href="bopaBox.html" >bopaBox</a></li>
            <li class="navBopabank"><a href="accountActivity.html">bopaBank</a></li>
            <li class="navUpload"><a href="#"><span>upload</span></a></li>
          </ul>
         <div id="topSearch">
            <form>
                <input type="text" value="search all music" />
            </form>
        </div>
       </div>
  </div>
  <!-- header ends-->
  <div id="container">
  
      
      <div class="roundedTab" id="orderDetailsBox">
        <div class="t">
          <div class="tab"><h3 class="wide">confirmation</h3></div>
          <div class="tr"></div>
        </div>
        <div class="c"> <div class="cl">
          <!--add content-->
          <div class="holder">
          
          	<h1>thanks for your order</h1>
            <p>We'll send you an e-mail confirmation shortly.</p>
            <p>Please go to your bopaBox to download your purchase.</p>
            <p>Your order number is: <strong>061308487204895</strong></p>
            <div class="buttonRow">
            <!--<a href="#"><img src="../images/buttonContinueShopping.png" alt="continue shopping" /></a> <a href="feedbackProvided.html"><img src="../images/buttonBopaBox.png" /></a> </div>-->
            <span class="btContinueShopping"><a href="#" style="float:left;"></a></span><span class="btBopabox"><a href="feedbackProvided.html" style="float:left;"></a></span>
          	
          </div>
          <!--finish content-->
          </div> </div>
        <div class="b"><span class="br"></span></div>
      </div>
            
      </div>
  <!-- container ends -->
</div>
<!-- wrapper ends --><div id="footer">
	
    <ul id="box001">
        <li><h3>Get your bopaboo on!</h3></li>
        <li>let's start buying!</li>
        <li> let's start selling!</li>
        <li>let's invite your friends!</li>
  </ul>
        
<ul id="box002">
        <li><h4>Business &amp; Media </h4></li>
        <li><a href="#" rel="facebox">Press Releases</a></li>
        <li><a href="#">In the News</a></li>
        <li><a href="#" target="_blank">Advertising Opportunities</a></li>
        <li><a href="#" target="_blank">Partnership Opportunities</a></li>
  </ul>
        
<ul id="box003">
        <li><h4>Company </h4></li>
        <li><a href="#" rel="facebox">About Us</a></li>
        <li><a href="#">Management</a></li>
        <li><a href="#" target="_blank">Blog</a></li>
        <li><a href="#" target="_blank"><strong>We're Hiring!</strong></a></li>
        <li><a href="#" target="_blank">Contact Us</a></li>
    </ul>
        
    <ul id="box004">
        <li><h4>Legal Info </h4></li>
        <li><a href="privacyPolicy.html" rel="facebox">Privacy Policy</a></li>
        <li><a href="termsOfServices.html">Terms of Use</a></li>
        <li><a href="#" target="_blank">site map</a></li>
  </ul>
	
<ul id="box005">
        <li><h4>Account </h4></li>
        <li><a href="#" rel="facebox">FAQ</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#" target="_blank">bopaBank</a></li>
        <li><a href="#" target="_blank">Messages</a></li>
        <li><a href="#" target="_blank">Feedback</a></li>
    </ul>
    
  <div id="footerBottom"><span>bopaboo, LLC.</span> &copy; Copyright  2008 All rights reserved.</div>
</div>

</body>
</html>
