<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
</head>
<body>

<div id="popContainer">
    <div class="rounded" id="postForSale">
        <div class="t">
          
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
				<div class="pad">                  
					
                    <a href="#"><img src="../images/closePopUpSmall.png" alt="close" width="19" height="19" border="0" class="closenow" /></a>
                    <h1>post songs for sale</h1>
                    <h6>Its Not Over</h6>
                    
                    <div class="cls"></div>                   
                    
                    <dl class="songInfo">
                        <dt>title:</dt>
                        <dd>Its Not Over</dd>
                        <dt>artist::</dt>
                        <dd>Artist Name</dd>
                        <dt>album:</dt>
                        <dd>Album Name</dd>
                    </dl>
                    
                    
                  <form name="form1" method="post" action="">
                    
                    <div class="formRow">
                        <label>enter price:</label>
                       <input type="text" class="inputBox"/>                  
                            
                    </div>
                    
                    <div class="formRow">
                        <label>tags</label>
                        	<textarea></textarea>                             
                    </div>                                          

                    <input type="image" src="../images/ButtonPostForSale.png" class="button"/>

                  </form>
                </div>
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->     
</div>

</body>
</html>
