<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
<!--[if lt ie 8]>
	<style type="text/css">
		@import url("../styles/ie.css");
    </style> 
<![endif]-->
<!--[if lt ie 7]>   
	<script src="../scripts/IE8.js" type="text/javascript"></script>
    <script defer type="text/javascript" src="../scripts/pngfix.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper">
  <div id="header"> <a href="index.html" id="logo">bopaboo – Your Place to Buy and Sell Digital Music</a>
    <ul id="accountMenu">
      <li><a href="register.html"><strong>register</strong></a></li>
      <li><a href="takeTour.html">take a tour</a></li>
      <li><a href="shoppingCart.html" class="cart">my cart</a></li>
      <li><a href="homeLoggedIn.html">login</a></li>
      <li><a href="helpFAQ.html">help</a></li>
    </ul>
    <div id="menu">      <ul id="topNav">
        <li class="navHome"><a href="index.html">home</a></li>
        <li class="navBuy"><a href="shoppingCart.html">buy</a></li>
        <li class="navSell"><a href="#">sell</a></li>
        <li class="navBopabox"><a href="bopaBox.html">bopaBox</a></li>
        <li class="navBopabank"><a href="accountActivity.html">bopaBank</a></li>
        <li class="navUpload"><a href="#"><span>upload</span></a></li>
      </ul>
      <div id="topSearch">
        <form action="#" name="searchmusic" id="searchmusic">
          <input type="text" value="search all music" />
        </form>
      </div>
    </div>
  </div>
  <!-- header ends-->
  <div id="container">
    <div id="signUplaside">
      <div class="roundedTab" id="signUp">
        <div class="t">
          <div class="tab">
            <h3 class="selecttab wide1">reset password</h3>
          </div>
         
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
            <div class="resetPassword">
            	
              <form action="#" >
                <ul id="signUpForm">
                <li>
                  <label>display name</label>
                  <span class="rside">
                  Alex Meshkin
                  </span>  </li>
                <li>
                  <label>email address</label>
                  <span class="rside">
                  alexmeshkin@bopaboo.com
                  </span> </li>
                <li>
                  <label for="npassword">new password</label>
                  <span class="rside">
                  <input type="password"  name="npassword" value=""  id="npassword"  class="inputStyle" />
                  
                  </span></li>
                <li>
                  <label for="cpassword">confirm password</label>
                  <span class="rside">
                  <input type="password"  name="cpassword" value=""  id="cpassword"  class="inputStyle" />
                  </span><span class="tick"></span><span class="errorMsg">password mismatch</span>  </li>
                
                <li>
                  <label for="secquestion">security question</label>
                  <span class="rside">
                  <input type="text"  name="secquestion" value=""  id="secquestion"  class="inputStyle" />
                  </span> </li>
                <li>
                  <label>&nbsp;</label>
                  <span class="rside"> <span class="captchaText">enter the text you see the image</span> <span class="captchaImage"><img src="../images/tempcaptcha.jpg" alt="Captcha Image" width="274" height="74" /></span> <span class="captchaText">can't read this? <a href="#">try another</a></span> </span> </li>
                
                <li>&nbsp;</li>
                <li>
                  <label>&nbsp;</label>
                  <!--<span class="rside"><a href="homeLoggedIn.html"><img src="../images/btnRegister.jpg" alt="Register" width="129" height="24" border="0" /></a></span></li>-->
                  <span class="btRegister"><a href="homeLoggedIn.html" style="float:left;"></a></span>
              </ul>
                    
              </form>
               
            	<p>&nbsp;</p>
            </div>
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->
    </div>
    <!-- laside ends here -->
  </div>
  <!-- container ends-->
</div>
<!-- wrapper ends -->

<div id="footer">
  <ul id="box001">
    <li>
      <h3>Get your bopaboo on!</h3>
    </li>
    <li>got unwanted tunes?</li>
    <li>get started now and </li>
    <li>start making some cash!</li>
    <li><br /><a href="#" class="footerRegisterNow">Register Now!</a></li>
  </ul>
  <ul id="box002">
    <li>
      <h4>Business &amp; Media </h4>
    </li>
    <li><a href="#" rel="facebox">Press Releases</a></li>
    <li><a href="#">In the News</a></li>
    <li><a href="#" target="_blank">Advertising Opportunities</a></li>
    <li><a href="#" target="_blank">Partnership Opportunities</a></li>
  </ul>
  <ul id="box003">
    <li>
      <h4>Company </h4>
    </li>
    <li><a href="#" rel="facebox">About Us</a></li>
    <li><a href="#">Management</a></li>
    <li><a href="#" target="_blank">Blog</a></li>
    <li><a href="#" target="_blank"><strong>We're Hiring!</strong></a></li>
    <li><a href="#" target="_blank">Contact Us</a></li>
  </ul>
  <ul id="box004">
    <li>
      <h4>Legal Info </h4>
    </li>
    <li><a href="privacyPolicy.html" rel="facebox">Privacy Policy</a></li>
    <li><a href="termsOfServices.html">Terms of Use</a></li>
    <li><a href="#" target="_blank">sitemap</a></li>
  </ul>
  <ul id="box005">
    <li>
      <h4>Account </h4>
    </li>
    <li><a href="#" rel="facebox">FAQ</a></li>
    
  </ul>
  <div id="footerBottom"><span>bopaboo, LLC.</span> &copy; Copyright  2008 All rights reserved.</div>
</div>
<!-- footer ends -->
</body>
</html>
