<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>

<style type="text/css">
	@import url("../styles/master.css");
</style>

<!--[if lt ie 8]>
	<style type="text/css">
		@import url("../styles/ie.css");
    </style>    
	<script defer src="../scripts/IE8.js" type="text/javascript"></script>
<![endif]-->

</head>

<body>

<div id="wrapper">
	<div id="header">
    	<a href="index.html" id="logo">bopaboo – Your Place to Buy and Sell Digital Music</a>
    	<ul id="accountMenu">
        	<li><a href="register.html"><strong>register</strong></a></li> 
        		<li><a href="takeTour.html">take a tour</a></li>
            <li><a href="shoppingCart.html" class="cart">my cart</a></li>
            <li><a href="homeLoggedIn.html">login</a></li>
            
            <li class="rightEnd"><a href="#">help</a></li></ul>
<div id="menu">
          <ul id="topNav">
              <li class="navHome"><a href="#"  class="currentsel">home</a></li>
              <li class="navBuy"><a href="shoppingCart.html">buy</a></li>
              <li class="navSell"><a href="#">sell</a></li>
              <li class="navBopabox"><a href="bopaBox.html">bopabox</a></li>
            <li class="navBopabank"><a href="accountActivity.html">bopaBank</a></li>
              <li class="navUpload"><a href="#"><span>upload</span></a></li>
          </ul>
         <div id="topSearch">
            <form action="#">
                <input type="text" value="search all music" />
            </form>
        </div>
       </div>
  </div>
  <!-- header ends-->   <div id="container">
    
   
    	<div class="roundedTab" id="selNotLoggedIn">   
                <div class="t">
                  <div class="tab">
                    <h3>how selling works!</h3>
                  </div>
                    <div class="tr"></div>
                </div>
              <div class="c">
                <div class="cl"> 
                <!--add content-->
                	<div class="pad">
                	
                    <h1>sign-up</h1>
                    <h6>It’s free and easy to get started.</h6>
                	<p>Simply choose a display name and password – and confirm your email address. It’s that’s simple.</p>
                    <div class="hr"><hr /></div>
                    
                    <h1>upload and set a price</h1>
                    <h6>Now it gets fun! With just a click of a button.</h6>
                	<p>You can sell all of your unwanted digital music for real money! Even more, you can buy digital music from other members for as low as a quarter!</p>
                    <div class="hr"><hr /></div>
                    
                    <h1>
                      <!--[endif]-->
                      listed on bopaboo</h1>
                    <h6>There is NO FEE to list your item for sale.</h6>
                	<p>And once your music is listed – it will be seen all over the world by everyone looking to buy music! You will determine the price and have the ability to edit your listings at anytime.</p>
                    <div class="hr"><hr /></div>
                    
                    <h1>fees</h1>
                    <h6>When your item is sold – We handle everything! Just relax.</h6>
                	<p>We split the revenue and you keep 80% of the sale! We accept all credit cards and handle all of the credit card transactions. We immediately transfer the money for the sale of your item into your bopaBank (eWallet) account and you can withdraw your money through PayPal at anytime!</p>
                    <div class="hr"><hr /></div>
                    
                    <h1>history and feedback</h1>
                	<p>We provide you a complete history of your sales and feedback rating from your buyers!</p>
                    <a href="#" class="startSelling"><img src="../images/buttonStartSelling.png" alt="start selling" /></a>
                    <p>Still have more questions? Click here to visit our Frequently Asked Questions (FAQ)</p>
                    
                    </div>
                    
                  <!--finish content-->
                </div>
                <div class="b"><span class="br"></span></div>
      </div>
    	<!-- popularMusic ends -->
    
  </div>
 </div><!-- container ends -->
</div><!-- wrapper ends --><div id="footer">
  <ul id="box001">
    <li>
      <h3>Get your bopaboo on!</h3>
    </li>
    <li>got unwanted tunes?</li>
    <li>get started now and </li>
    <li>start making some cash!</li>
    <li><br /><a href="#" class="footerRegisterNow">Register Now!</a></li>
  </ul>
  <ul id="box002">
    <li>
      <h4>Business &amp; Media </h4>
    </li>
    <li><a href="#" rel="facebox">Press Releases</a></li>
    <li><a href="#">In the News</a></li>
    <li><a href="#" target="_blank">Advertising Opportunities</a></li>
    <li><a href="#" target="_blank">Partnership Opportunities</a></li>
  </ul>
  <ul id="box003">
    <li>
      <h4>Company </h4>
    </li>
    <li><a href="#" rel="facebox">About Us</a></li>
    <li><a href="#">Management</a></li>
    <li><a href="#" target="_blank">Blog</a></li>
    <li><a href="#" target="_blank"><strong>We're Hiring!</strong></a></li>
    <li><a href="#" target="_blank">Contact Us</a></li>
  </ul>
  <ul id="box004">
    <li>
      <h4>Legal Info </h4>
    </li>
    <li><a href="privacyPolicy.html" rel="facebox">Privacy Policy</a></li>
    <li><a href="termsOfServices.html">Terms of Use</a></li>
    <li><a href="#" target="_blank">sitemap</a></li>
  </ul>
  <ul id="box005">
    <li>
      <h4>Account </h4>
    </li>
    <li><a href="#" rel="facebox">FAQ</a></li>
    
  </ul>
  <div id="footerBottom"><span>bopaboo, LLC.</span> &copy; Copyright  2008 All rights reserved.</div>
</div>
<!-- footer ends --></body>
</html>
