<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/signInPopUp.css";
@import "../styles/master.css";
</style>
</head>
<body>
<div class="rounded" id="signInPopUp" style="width:620px;">
        <div class="t">
          
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
<div id="bopaboxNotLoggedIn">
                <div class="signInBox">
                	<h1>existing members</h1>
                    <form action="#">
                    	<ul>
                        <li>
                        <label for="email">email address</label>
                        <span class="rside">
                        <input type="text"  name="email" id="email"  class="inputStyle1" />
                        </span> 
                        </li>
                        <li>
                        <label for="password">password</label>
                        <span class="rside">
                        <input type="password"  name="password" id="password"  class="inputStyle1" />
                        </span>
                        </li>
                        <li>
                         <label>&nbsp;</label>
                        <span class="rside"><span class="errorMsg1">invalid username or password</span></span>
                      </li>
                      <li>
                        <label>&nbsp;</label>
                        <!--<span class="rside"><span class="registerBtn1"><a href="#"><img src="../images/btnSignIn.jpg" alt="Sign In" width="129" height="24" border="0" /></a></span></span>-->
                        <span class="btSignIn"><a href="#" style="float:right;"></a></span>
                       </li>
                      </ul>
                       
                       
                    </form>
                </div>
              <div class="bopaboxRegisterBox">              	
               	<h1>new member</h1>
                    <p>
                    	not a member yet? in order to buy and sell on bopaboo you need to register for a free account.
                        <!--<span class="registerBtn2"><a href="#"><img src="../images/btnRegister.jpg" alt="Register Now!" width="129" height="24" border="0" /></a></span>-->
                        <div style="clear:both;"></div>
                        <div style="height:45px;"></div>
                        <div class="btRegister"><a href="#" style="float:left;"></a></div>
                    </p>
                    
              </div>
              <div style="clear:both;"></div>
              <div id="closePopup"><a href="#">close <img src="../images/closePopUpSmall.png" border=0></a></div>
            </div>
            
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->
</body>
</html>
