<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bopaboo</title>
<style type="text/css">
@import "../styles/master.css";
</style>
</head>
<body>

<div id="popContainer">
    <div class="rounded" id="songStatus">
        <div class="t">
          
          <div class="tr"></div>
        </div>
        <div class="c">
          <div class="cl">
            <!--add content-->
				<div class="pad">                  

                    <h1>song status</h1>
                    <a href="#"><img src="../images/closePopUpSmall.png" alt="close" width="19" height="19" border="0" class="closenow" /></a>
                    
                    <div class="cls"></div>
                    
                  <form name="form1" method="post" action="">
                    
                    <div class="formRow">
                        <label>Current Status</label>                            
                            <select name="select" id="select" class="currentstatus">
                              <option>For Sale</option>
                            </select>
                    </div>
                    
                    <div class="formRow">
                        <label>Current List Price </label>
                             <input type="text" value="$.75" class="inputBox" />
                    </div>
                      
                       <p>
                This song is currently posted For Sale. Would you like to change the price or status of the Item ? </span></p>
                <div class="bottom">
                    <input type="image" src="../images/buttonCancel.gif"/>
                    <input type="image" src="../images/buttonUpdate.png"/>
                </div>
                  </form>
                </div>
            <!--finish content-->
          </div>
        </div>
        <div class="b"><span class="br"></span></div>
      </div>
      <!-- signUp ends -->     
</div>

</body>
</html>
