<link href="../styles/master.css" rel="stylesheet" type="text/css">

<h1>h1 tag</h1>

<h2>h2 tag</h2>
<h3>h3 tag</h3>
<h4>h4 tag</h4>
<h6>h6 tag</h6>

test 
test 
test

<p> adaskasdk adk;askd asd sdkamdas<br />
asdjkasdkl asdkasdkl asd askl;dasmkads<br />
asdjkasdjasdjnjlasdnjlasd   </p>


<div class="rounded">    
            <div class="t">
              <h3 class="tab"><span>todays most popular music</span></h3>
                <div class="tr"></div>
            </div>
          <div class="c">
                <span> <!--add content-->
                
                
                		<img src="../images/scroller.jpg" width="865px"/>                       
                	             
              
                <!--finish content--></span>       
            </div>
           <div class="b"><span></span>
       </div>        