@charset "utf-8";
/* CSS Document */

#signin-mybopa{
	display:block;
	width:576px;
	height:314px;
	border:#DFDFDF 1px solid;
	margin-top:30px;
	background-color:#fff;
	}
#signin-mybopa .MustLoggedInText{
	float:left;
	display:block;
	width:576px;
	height:30px;
	background:#F26530;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:18px;
	line-height:30px;
	}