#container{
	background:url(../images/body-bg-top.jpg) no-repeat;
	display:block;
	margin:10px 0 0 0;
	width:964px;
	min-height:300px;
	padding-top:20px;
	}
#container #submenu{
	float:right;
	margin-right:20px;
	margin-top:-10px;
	}
#container #submenu a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#111217;
	text-decoration:none;
	padding:0 17px 0 17px;
	}
	
#container #submenu a:hover, #container #submenu a.current{
	color:#0079C2;
	}
	
#container #pagehead-feedback{
	margin:40px 0 0 30px;
	}
#container #pagehead-feedback h1{
	font-size:25px;
	font-weight:normal;
	color:#007AC3;
	padding:26px 0 0 30px;
	float:left;
	}
#container #pagehead-feedback #feedback-balance{
	float:right;
	display:block;
	width:251px;
	margin:0 40px 0 0;
	
	}
#container #pagehead-feedback #feedback-balance h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#1A6CB6;
	display:block;
	height:25px;
	width:163px;
	float:right;
	background:url(../images/hdr-bopabank-balance.png) no-repeat top right;
	text-indent:10px;
	line-height:23px;
	}
#container #pagehead-feedback #feedback-balance #feedback-details{
	border:1px solid #B3C8D4;
	background:#fff;
	display:block;
	height:75px;
	margin-top:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	font-weight:bold;
	text-align:right;
	padding:15px 15px 0 0;
	margin-bottom:10px;	

	}
#container #feedback{
	display:block;
	clear:both;
	}
#container #feedback .datalist{
	float:left;
	margin:6px 0 10px 25px;
	clear:both;
	}
#container #feedback .datalist #feedback-menu{
	float:right;
	margin:0 auto;
	margin-right:15px;
	}
#container #feedback .datalist #feedback-menu li{
	list-style:none;
	float:left;
	display:block;
	margin-left:4px;
	height:32px;
	}
#container #feedback .datalist #feedback-menu li.provided{
	width:143px;
	height:32px;
	}
#container #feedback .datalist #feedback-menu li a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#111217;
	font-weight:bold;
	text-decoration:none;
	height:32px;
	line-height:32px;
	padding-top:3px;
	}
#container #feedback .datalist #feedback-menu li.provided a{
	display:block;
	width:143px;

	text-align:center;
	background:url(../images/btnbg-acctactivity-normal.png) no-repeat top left;
	}
#container #feedback .datalist #feedback-menu li.provided a:hover, #container #feedback .datalist #feedback-menu li.provided a.currentsel{
	background:url(../images/btnbg-acctactivity-hover.png) no-repeat top left;
	}
#container #feedback .datalist #feedback-menu li.received{
	width:136px;
	height:32px;
	}
#container #feedback .datalist #feedback-menu li.received a{
	display:block;
	width:136px;
	height:32px;
	line-height:32px;
	text-align:center;
	background:url(../images/btnbg-wdfunds-normal.png) no-repeat top left;
	}
#container #feedback .datalist #feedback-menu li.received a:hover, #container #feedback .datalist #feedback-menu li.received a.currentsel{
	background:url(../images/btnbg-wdfunds-hover.png) no-repeat top left;
	}

#container #feedback .datalist #feedback-menu li.managecredit{
	width:157px;
	height:32px;
	}
#container #feedback .datalist #feedback-menu li.managecredit a{
	display:block;
	width:157px;
	height:32px;
	line-height:32px;
	text-align:center;
	background:url(../images/btnbg-mgcc-normal.png) no-repeat top left;
	}
#container #feedback .datalist #feedback-menu li.managecredit a:hover, #container #feedback .datalist #feedback-menu li.managecredit a.currentsel
	{
	background:url(../images/btnbg-mgcc-hover.png) no-repeat top left;
	}

#container #feedback .datalist .hdr{
	height:35px;
	display:block;
	width:914px;
	background:url(../images/bg-datalisthdr1.jpg) no-repeat top left;
	}
#container #feedback .datalist .bdy{
	border-left:1px solid #A5B2BD;
	border-right:1px solid #A5B2BD;
	background:#fff;
	}
#container #feedback .datalist .ftr{
	height:18px;
	display:block;
	width:914px;
	background:url(../images/ftr-bopabank-datalist.png) no-repeat top left;
	}
#container #feedback .datalist .hdr #searchpage-hdr{
	line-height:35px;
	margin:0 -4px 0 0;
	float:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	}
#container #feedback .datalist .hdr #searchpage-hdr .showjmenu, #container #feedback .datalist .hdr #searchpage-hdr .withinjmenu{
	height:19px;
	width:157px;
	font-size:11px;
	}


/* #container #feedback .datalist #datacell{
	font-size:10px;
	}
#container #feedback .datalist #datacell th {
	background:url(../images/bg-hdg-srchresult.jpg);
	}
#container #feedback .datalist #datacell th a{
	display:block;
	color:#fff;
	text-decoration:none;
	height:22px;
	line-height:20px;
	text-align:center;
	border-right:1px solid #fff;
	background:url(../images/bg-hdg-srchresult.jpg) repeat-x left top;
	}
#container #feedback .datalist #datacell th a:hover{
	background:url(../images/bg-hdg-srchresulthover.jpg) center;
	} */
	
#container #feedback .datalist #datacell th {
	background:url(../images/bg-hdg-srchresult1.png) top left;
	height:26px;
	}
#container #feedback .datalist #datacell th a{
	display:block;
	color:#fff;
	text-decoration:none;
	height:26px;
	line-height:20px;
	text-align:center;
	border-right:1px solid #fff;
	background:url(../images/bg-hdg-srchresult.jpg) repeat-x left top;
	}
#container #feedback .datalist #datacell th a:hover{
	color:#000;
	}
#container #feedback .datalist #datacell th a.ascending{
	display:block;
	color:#fff;
	text-decoration:none;
	height:26px;
	line-height:20px;
	text-align:center;
	border-right:1px solid #fff;
	background:url(../images/aaa001.png) center;
	}
#container #feedback .datalist #datacell th a.descending{
	display:block;
	color:#fff;
	text-decoration:none;
	height:26px;
	line-height:20px;
	text-align:center;
	border-right:1px solid #fff;
	background:url(../images/aaa002.png) center;
	}
	
	
#container #feedback .datalist #datacell td{
	border-left:1px solid #fff;
	border-collapse:collapse;
	}
#container #feedback .datalist #datacell .alternatebg001{
	border-bottom:1px solid #fff;
	background:#F7F7F7;
	line-height:15px;
	}

#container #feedback .datalist #datacell .alternatebg001 .spacing, #container #feedback .datalist #datacell .alternatebg002 .spacing{
	padding-left:12px;
	}
#container #feedback .datalist #datacell .alternatebg002{
	border-bottom:1px solid #fff;
	background:#E5E5E5;
	line-height:15px;
	}	




/* WITHDRAW FUND */
#amt-withdraw td{
	height:40px;
	padding-right:7px;
	}
#amt-withdraw .inputtext {
	border:1px solid #DFDFDF;	
	width: 270px; 
	height:22px;
	}
#amt-withdraw .lighttext {
	font-size:11px;
	color:#b1b1b1;
	}
#feedback .price{
	margin-left:47px;
	font-size:11px;
	font-weight:bold;
	color:#166BB5;
	}
#feedback .avlbaltext{
	color:#999;
	font-weight:bold;
	}
#feedback .tdheight{
	height:30px;
	}
#feedback .avlbaltext1{
	color:#666;
	font-weight:bold;
	}
#feedback .edit-remove{
	font-size:11px;
	font-weight:bold;
	color:#166BB5;
	}
#feedback #datacell td.hspace{
	padding-left:40px;
	}
#feedback #datacell td.hspace{
	line-height:normal;
	padding-left:40px;
	}
#feedback #datacell td.hspace1{
	line-height:normal;
	padding-left:10px;
	}

#container #feedback .datalist #datacell .amtspace{
	padding-right:40px;
	}
	
	
	
/* EDIT MANAGE CREDIT CARD INFORMATION */

#feedback .darktext{
	color:#000;
	font-weight:bold;
	}
#feedback h3{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#2270B7;
	font-weight:bold;
	margin:0 0 8px 27px;
	}

#feedback .editcardback td{
	height:30px;
	padding-bottom:4px;
	}
#feedback .editcardback select{
	width:60px;
	}
#feedback .editcardback td.darktext{
	padding-right:14px;
	}
#feedback .editcardback .cardback{
	line-height:normal;
	}
#feedback .editcardback{
	border-bottom:1px solid #D3D5D6;
	}
#feedback .editcardback .cardback td{
	padding-right:9px;
	height:normal;	
	}
#feedback .editccard td{
	line-height:normal;
	height:30px;
	}
#feedback .editccard select.currentaddress{
	width:450px;
	}
#feedback .editccard .commontext{
	padding-left:27px;
	}
#feedback .editccard .lalign{
	padding-left:27px;
	}
#feedback .editcardback1 .inputtext2{
	border:1px solid #C9CBCC;
	width:185px;
	height:25px;
	}
#feedback .editcardback1 td{
	padding-right:9px;
	padding-bottom:6px;
	}
#feedback .editcardback1 .valign{
	height:14px;
	}
#feedback .editcardback1 select{
	width:187px;
	}
	
	
/* ADD NEW CREDIT CARD */

#feedback .addccard td{
	line-height:normal;
	height:30px;
	}
#feedback .addccard select.currentaddress{
	width:450px;
	margin-left:20px;
	}
#feedback .addccard .commontext{
	padding-left:27px;
	}
#feedback .addccard .lalign{
	padding-left:27px;
	}
#feedback .addccard .textpadd{
	padding-left:47px;
	}
#feedback .addccard .valign{
	height:14px;
	}
#feedback .addnewcard td{
	height:30px;
	padding-bottom:4px;
	}
#feedback .addnewcard select{
	width:60px;
	}
#feedback .addnewcard td.darktext{
	padding-right:14px;
	}
#feedback .addnewcard .cardback{
	line-height:normal;
	}
#feedback .addnewcard{
	border-bottom:1px solid #D3D5D6;
	}
#feedback .addnewcard .cardback td{
	padding-right:9px;
	height:normal;	
	}
#feedback .addnewcard .inputtext2, #feedback .addnewcard1 .inputtext2{
	border:1px solid #C9CBCC;
	width:185px;
	height:25px;
	}
#feedback .addnewcard1 td{
	padding-right:9px;
	padding-bottom:6px;
	}

#feedback .addnewcard1 select{
	width:187px;
	}
.asterix{
	color:#FF0000;
	font-weight:bold;
	}
	
/*ADDITIONAL EDIT FROM BOPABOOV2 STYLESHEET. */
#pages1{
	display:block;
	width:894px;
	text-align:center;
	padding:30px 0 20px 0;
	float:left;
	margin-bottom:10px;
	}
#pages1 a{
	color:#666;
	padding:0 4px 0 4px;
	}