@charset "utf-8";
*{
	margin:0 auto;
	padding:0;
	}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 1.8em;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	background:#fff;	
	
}
#wrapper{
	width:964px;
	background:#fff;
	background:url(../images/bg-wrapper.jpg) repeat-x top left;
}


#container{
	background:url(../images/body-bg-top.jpg) no-repeat;
	display:block;
	margin:10px 0 0 0;
	width:964px;
	padding-top:18px;
	}