@charset "utf-8";
*{
	margin:0 auto;
	padding:0;
	}
#servicefeePopup{
	margin:0 auto;
	width:530px;
	}

#servicefeePopup h1{
	background-image:url(../images/logo-01.jpg);
	background-repeat:no-repeat;
	display:block;
	height:110px;
	
	}

#servicefeePopup .top h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#666666;
	margin-bottom:25px;

}

#servicefeePopup .top p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin-bottom:25px;
	padding-right:30px;

}
	
	